.navBar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  background-color: #34C94B;
  height: 74px;
}


.logo {
  margin-left: 12px;
}

.search {
  padding: 8px 12px;
  margin-left: 32px;
}

.feedbackBtn {
  margin-left: auto;
  background-color: #000;
  color: #34C94B;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}