


.navbar {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  width: 100vw;
  height: 74px;
  padding: 0px 32px;
}

.logo {
  margin-left: 24px;
  display: flex;
  align-items: center;
  height: 37px;
  object-fit: contain;
  /* Add explicit vertical centering with margin-top */
  margin-top: 18.5px;
  margin-bottom: 18.5px;
}

.search {
  margin: 0 auto;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 350px;
}

.feedbackBtn {
  background-color: #000;
  color: #34C94B;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border: none;
}