.navBar {
  display: flex;
  align-items: center;
  padding: 0 32px;
  background-color: var(--color-primary);
  height: 74px;
  width: 100%;
}

/* Logo */
.logo {
  margin-left: 12px;
  display: block;
  height: 37px;
  object-fit: contain;
}

/* Search bar wrapper */
.search {
  margin-left: 32px;
  flex: 1;
}

/* Feedback Button */
.feedbackBtn {
  margin-left: auto;
  background-color: var(--color-black);
  color: var(--color-primary);
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border: none;
}
