.navBar {
  display: flex;
  align-items: center; 
  padding: 0 32px;
  justify-content: flex-start;
  background-color: #34C94B;
  height: 74px;
}

.logo {
  margin-left: 24px;
  display: block;   
  height: 37px;   
  object-fit: contain;   
}

.search {
  padding: 8px 12px;
  margin-left: 400px;
}

.feedbackBtn {
  margin-left: auto;
  background-color: #000;
  color: #34C94B;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}


